DATABASE_URL="postgresql://stiucastii_user:CHANGE_ME@localhost:5432/stiucastii?schema=public"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SITE_URL="https://www.stiucastii.owh.md"
ADMIN_PASSWORD=""
POSTGRES_DB="stiucastii"
POSTGRES_USER="stiucastii_user"
POSTGRES_PASSWORD="CHANGE_ME"
