POSTGRES_DB=stiucastii
POSTGRES_USER=stiucastii_user
POSTGRES_PASSWORD=CHANGE_ME_STRONG_DB_PASSWORD

DATABASE_URL=postgresql://stiucastii_user:CHANGE_ME_STRONG_DB_PASSWORD@stiucastii-db:5432/stiucastii?schema=public
NEXT_PUBLIC_APP_URL=https://stiucastii.owh.md
ADMIN_PASSWORD=CHANGE_ME_STRONG_ADMIN_PASSWORD
